@font-face {
    font-family: 'NorseBold';
    src: url('../fonts/Norse-Bold.woff2') format('woff2'),
        url('../fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --logo-color: #ffffff;
  --attribution-color: #d3d3d3;
  --shadow-color: #d3d3d3;
  --form-text-color: #1f2937;
  --label-text-color: #2e3744;
  --button-color: #596D48;
  --button-hover-color: #779260;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
}

header {
  position: relative;
  flex: 40;
  background-image: url(images/Green\ Leaf\ Plant\ Photo.jpg);
  background-size: cover;
}

.logo {
  position: relative;
  top: 20%;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: rgb(0 0 0 / 0.4);
  height: 125px;
  padding: 10px 0;
}

.logo-image {
  height: 100%;
}
 
.logo-text {
  color: var(--logo-color);
  font: 5rem "NorseBold";
}

.attribution, .attribution a {
  color: var(--attribution-color);
  font-weight: lighter;
}

.attribution {
  position: absolute;
  width: 100%;
  bottom: 15px;
  font-size: 0.8rem;
  text-align: center;
}

main {
  flex: 60;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9fafb;
}

.info, .form, .buttons {
  padding: 20px 100px 20px 50px;
}

.info p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.form {
  color: var(--form-text-color);
  background-color: #ffffff;
  box-shadow: 0 2px 5px var(--shadow-color);
}

.form h2 {
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 25%;
  margin-bottom: 15px;
}

.form-row {
  display: flex;
  gap: 50px;
}

.form label {
  flex: 1;  
  display: flex;
  flex-direction: column;
  color: var(--label-text-color);
  font-variant: all-small-caps;
  font-weight: bold;
  font-size: 1.1rem;
}

.form input {
  border: 1px solid #e9ebee;
  border-radius: 5px;
  padding: 5px;
}  

.form input:user-invalid {
  border-color: #f00;
}

.form input:focus {
  outline: none;
  border-color: #00f;
  box-shadow: 1px 1px 5px var(--shadow-color);
}

.sign-up-button {
  color: #ffffff;
  font-weight: bold;
  background-color: var(--button-color);
  padding: 15px 50px;
  margin: 10px 0 30px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 3px 5px 1px var(--shadow-color);
  cursor: pointer;
}

.sign-up-button:hover {
  background-color: var(--button-hover-color);
}

.buttons a {
  color: #596D48;
  font-weight: bold;
  text-decoration: none;
}

.buttons a:hover {
  color: var(--button-hover-color);
}
