@font-face {
    font-family: 'NorseBold';
    src: url('../fonts/Norse-Bold.woff2') format('woff2'),
        url('../fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
