@font-face {
    font-family: 'NorseBold';
    src: url('../fonts/Norse-Bold.woff2') format('woff2'),
        url('../fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --logo-color: #ffffff;
  --attribution-color: #d3d3d3;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
}

header {
  position: relative;
  flex: 40;
  background-image: url(../images/Green\ Leaf\ Plant\ Photo.jpg);
  background-size: cover;
}

.logo {
  position: relative;
  top: 20%;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: rgb(0 0 0 / 0.4);
  height: 125px;
  padding: 10px 0;
}

.logo-image {
  height: 100%;
}
 
.logo-text {
  color: var(--logo-color);
  font: 5rem "NorseBold";
}

.attribution, .attribution a {
  color: var(--attribution-color);
  font-weight: lighter;
}

.attribution {
  position: absolute;
  width: 100%;
  bottom: 15px;
  font-size: 0.8rem;
  text-align: center;
}

main {
  flex: 60;
}
